<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header class="header">
    <div class="hero container">
      <h1 class="hero-title full">Tirami</h1>
      <p class="hero-description full">We Love Tiramisu</p>
    </div>
    <nav class="nav-links">
      <ul>
        <li><a data-scroll href="#about">About Us</a></li>
        <!-- <li><a href="#projects">Projects</a></li> -->
        <li><a data-scroll href="#recruiting">Recruiting</a></li>
        <li><a data-scroll href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <section class="about" id="about">
      <h2>About Us</h2>
      <p class="description">
      Tirami Group is an innovative team in the developing market for efficiency and automation.
      Sensors and small electronic devices combined with dedicated software solutions enable new kinds of products and services in education market.
      </p>

    </section>
    <section class="projects" id="projects" hidden>
      <h2>Projects</h2>
      <div class="container">
        <div class="oneforth">
          <h3><a href="#">ReNote</a></h3>
          <figure>
          <img src="http://placehold.it/150x120" alt="ReNote">
          </figure>
        </div>
        <p class="description threeforths">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis nisl sed nisi varius, id convallis ipsum scelerisque. Phasellus pellentesque, nisi quis tincidunt mattis, sem sapien hendrerit nisl, et egestas purus tortor sed tortor. Nam quam erat, semper sit amet laoreet eu, aliquam sit amet ipsum. Sed lectus arcu, tempor ut vulputate eget, dapibus sit amet neque. Morbi lobortis, libero in eleifend faucibus, metus nibh iaculis sem, eget facilisis magna tellus nec turpis. Maecenas et aliquet sapien, eu elementum dolor. Sed aliquet purus neque, ac volutpat orci viverra sit amet.
        </p>
      </div>
    </section>
    <section id="recruiting" class="recruiting">
      <h2>Recruiting</h2>
      <p>
      As a CMU based start-up, we welcome project based cooperation as well as chief team position.
      </p>
      <p>
        We are recruiting:
        <ol>
          <li>
            <em>
            Market Research Analyst
            </em>
            <ul>
              <li>Complete various market research projects</li>
              <li>Maintain database on competitive products and share ongoing industry/product updates with team</li>
            </ul>
          </li>
          <li>
            <em>Mobile Application Developer</em>
            <ul>
              <li>Independently develop and maintain software products</li>
              <li>Collaborate with UI/UX designer</li>
              <li>Integrate mobile applications with backend APIs</li>
              <li>Write documents</li>
            </ul>
          </li>
          <li>
            <em>UI/UX Designer</em>
            <ul>
              <li>Design the user interface for mobile/web applications</li>
              <li>Basic knowledge of HTML and CSS</li>
            </ul>
          </li>
          <li>
            <em>Innovation Designer</em>
            <ul>
              <li>Partner with engineers and technologists to deliver innovation ideas</li>
              <li>Work through all parts of the design process, from brainstorming and ideation, deep consumer insight, to prototyping and execution</li>
            </ul>
          </li>
        </ol>
      </p>
    </section>
    <section class="contact" id="contact">
      <h2>Contact</h2>
        <p>
          Send an email to <a href="mailto:contact@tirami.org">contact@tirami.org</a>:
        </p>
        <form action="https://formspree.io/contact@tirami.org" method="POST">
          <div class="container">
            <div class="half">
              <input type="text" name="name" placeholder="Name" required>
            </div>
            <div class="half">
              <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="full">
              <input type="text" name="_subject" placeholder="Subject" required>
            </div>
            <div class="full">
              <textarea name="message" placeholder="Message" required></textarea>
            </div>
            <div class="oneforth">
              <input class="button" type="submit" value="Send">
            </div>
          </div>
        </form>
    </section>
  </main>
  <footer class="footer">
    &copy; 2017, Tirami Group.
  </footer>
  <script src="/bundle.js"></script>
</body>
</html>
