<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <header class="hero">
      <h1 class="hero-title">Tirami</h1>
      <p class="hero-description">We Love Tiramisu</p>
  </header>
  <main class="main">
    <section class="about">
      <h2>About Us</h2>
      <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis nisl sed nisi varius, id convallis ipsum scelerisque. Phasellus pellentesque, nisi quis tincidunt mattis, sem sapien hendrerit nisl, et egestas purus tortor sed tortor. Nam quam erat, semper sit amet laoreet eu, aliquam sit amet ipsum. Sed lectus arcu, tempor ut vulputate eget, dapibus sit amet neque. Morbi lobortis, libero in eleifend faucibus, metus nibh iaculis sem, eget facilisis magna tellus nec turpis. Maecenas et aliquet sapien, eu elementum dolor. Sed aliquet purus neque, ac volutpat orci viverra sit amet.
      </p>
    </section>
    <section class="projects">
      <h2>Projects</h2>
      <div class="project">
        <div class="oneforth">
          <h3><a href="#">ReNote</a></h3>
          <img src="http://placehold.it/200x130" alt="ReNote">
        </div>
        <p class="description threeforths">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis nisl sed nisi varius, id convallis ipsum scelerisque. Phasellus pellentesque, nisi quis tincidunt mattis, sem sapien hendrerit nisl, et egestas purus tortor sed tortor. Nam quam erat, semper sit amet laoreet eu, aliquam sit amet ipsum. Sed lectus arcu, tempor ut vulputate eget, dapibus sit amet neque. Morbi lobortis, libero in eleifend faucibus, metus nibh iaculis sem, eget facilisis magna tellus nec turpis. Maecenas et aliquet sapien, eu elementum dolor. Sed aliquet purus neque, ac volutpat orci viverra sit amet.
        </p>
      </div>
    </section>
    <section class="contact">
      <h2>Contact</h2>
      <div>
        <form action="https://formspree.io/contact@tirami.org" method="POST">
          <div class="form">
            <div class="half">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="half">
              <input type="email" name="email" placeholder="Email">
            </div>
            <div class="full">
              <input type="text" name="_subject" placeholder="Subject">
            </div>
            <div class="full">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="oneforth">
              <input type="submit" value="Send">
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
  </div>
  <footer class="footer">
    &copy; 2017, Tirami Group.
  </footer>
</body>
</html>
