@media (max-width: 960px) {
  body {
    font-size: 14px; 
  }

  .hero {
    height: 300px;
  }

  .main {
    width: 95%;
    margin: 0 auto;
  }

  .container {
    .oneforth, .half, .threeforths, .full {
      flex-basis:  100%;
    }
  }
}
